body {
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
}

#hero{
    text-align: center;
    padding: 100px 20px;
}

#hero h1 {
    font-size: 3rem;
}


#hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero-buttons a {
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    border: 1px solid black;
    border-radius: 5px;
}

#skills{
    margin-top: 50px;
}

.skills-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.skill-card{
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
    min-width: 100px;
}

.skill-card:hover {
    transform: translateY(-3px);
    transition: 0.2s;
}