* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

body {
    font-family:  system-ui, -apple-system, sans-serif;
    line-height: 1.6;
    margin-top: 50px;
    background: pink;
    color: #111;
}

nav {
    font-weight: bold;
}

#hero{
    text-align: center;
    padding: 100px 20px;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}


#hero p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 20px;
}

.hero-buttons a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    border: 1px solid black;
    border-radius: 5px;
    color: #111;
    transition: 0.2s;
}

.hero-buttons a:hover {
    background: #111;
    color: white;
}

section {
    padding: 10px 0;
}

#skills{
    margin-top: 50px;
}

.skills-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.skill-card{
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
    min-width: 100px;
}

.skill-card:hover {
    transform: translateY(-3px);
    transition: 0.2s;
}